.calendar-view {
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    position: relative;
}

.event {
    position: absolute;
    color: white;
    border: 1px solid black;
    background-color: blueviolet;
    box-sizing: border-box;
}
