.time-block {
    width: 100px;
    height: 50px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

.time {
    position: absolute;
    height: 30px;
    text-align: right;
    color: blueviolet;
}
